body {
  font-family: 'Roboto', sans-serif;
  max-width: 700px;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 15px solid #bfcdd6;
  border-radius: 10px;
}

h1 {
  margin: auto;
  width: 50%;
  padding: 15px;
  text-align: center;
}

h5 {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 5px;
}

#summaryText {
  margin-left: 5%;
  margin-right: 5%;
}

li {
  margin-top: 10px;
  line-height: 125%;
}

p {
  line-height: 125%;
}

#jobList {
  list-style: none;
}

hr {
  border: 1px solid #bfcdd6;
}

#jobList hr {
  margin-right: 5%;
}

#jobList li {
  margin-right: 5%;
}

.location {
  float: right;
  font-weight: 100;
  font-size: 90%;
  margin-right: 10px;
}

.date {
  float: right;
  font-weight: 100;
  font-size: 90%;
  margin-right: 10px;
}

.section {
  border-bottom: 1px solid #bfcdd6;
  margin: 5px;
}

.section h2 {
  margin: 5px 0px 0px 5px;
  color: #858ac9;
}